/**
 * Licensed to Marvelution under one or more contributor license
 * agreements.  See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#wrapper {
	padding-top: 35px;
}

#wrapper #header {
	position: relative;
}

#zen-toolbar-holder.full-screen {
	width: 100%;
	padding: 0px;
}

#zen-toolbar-holder.full-screen #zen-toolbar #search {
	background: $zenToolbarBackgroundColor;
	margin-right: 20%;
}

#zen-toolbar {
	color: #CCC;
	border: 0px;
	width: 100%;
	padding-bottom: 1px;
}

#zen-toolbar.anonymous {
	background: transparent;
}

#zen-toolbar.anonymous #toolbar-menu li {
	margin: 0px;
}

#zen-toolbar.anonymous #toolbar-menu li a {
	font-size: 1.3em;
}

#zen-toolbar.anonymous #toolbar-menu {
	background: $zenPrimaryColor;
	border-bottom-right-radius: .4em;
	-moz-border-radius-bottomright: .4em;
	padding: 9px 15px;
	margin-top: 0px;
}

#zen-toolbar.anonymous #search {
	background: $zenPrimaryColor;
	border-bottom-left-radius: .4em;
	-moz-border-radius-bottomleft: .4em;
	padding: 10px 15px;
	margin-top: 0px;
}

#search input {
	padding: 5px 39px 5px 9px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid $zenTertiaryColor;
}

#zen-toolbar.anonymous #toolbar-menu #user-menu {
	font-weight: normal;
}

#zen-toolbar #toolbar-menu #user-menu {
	font-weight: bold;
}

#wrapper #zen-menu ul li.current a,
#wrapper #zen-menu ul li.current a:link,
#wrapper #zen-menu ul li:hover a,
#wrapper #zen-menu ul li:hover a:link,
#wrapper #zen-menu ul li:hover.login,
#wrapper #zen-menu ul li:hover.login a,
#wrapper #zen-menu ul li:hover.login a:link {
	color: $zenPrimaryColor;
}

#wrapper #zen-menu ul li.login,
#wrapper #zen-menu ul li.login a,
#wrapper #zen-menu ul li.login a:link {
	color: $zenSectionBorderColor;
}

#wrapper #zen-menu ul li:hover {
	cursor: hand;
}

#wrapper #zen-menu ul li.current {
	cursor: default;
}

#zen-footer p {
	font-size: 1.2em;
}

.meta-data,
.meta-data a {
	color: #BABABA !important;
	font-size: 8pt !important;
	font-style: normal !important;
}

.zen-editable-content .edit-control {
	background-color: transparent;
}

.zen-section .gallery img {
	border: 0px;
	background: transparent;
}

/* Show the trim from the twitter feed. */
.twtr-hd {
	display: block;
}
